@media all and (min-width: 480px) {
    .suggestion {
      padding: 60px 0;
    }

    .suggestion form {
      margin: 0 auto;
      max-width: 500px;
}
}

.scrollbar {
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
}

form h2 {
  padding: 0% 0% 4% 0%;
}