.card{
    border-style: solid;
    border-width: 2pt;
    border-color: black;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin: 5% auto;
    max-width: 75rem;
}

.card-title {
    font-weight: bold;
}

h2 {
    text-align: center;
}

div h1{
    margin: auto;
    padding: 2% 0% 0% 5%;
}

#itineraryTitle {
    font-weight: bold;

}