.card{
    border-style: solid;
    border-width: 2pt;
    border-color: black;
    border-radius: 2%;
    padding: 2%;
    text-align: center;
    margin: 5% auto;
    max-width: 50rem;
}

.card-title {
    font-weight: bold;
}