.card{
    padding: 2%;
    text-align: center;
    margin: 5% auto;
    max-width: 50rem;
    background-color: #f0f5f5;
}

.card-title {
    font-weight: bold;
}

div h1{
    margin: auto;
    padding: 2% 0% 0% 5%;
}

button a {
    color: white;
  }
